<div class="container">
    <main class="form-signin text-center">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal">Logowanie</h1>
        <input type="login" name="username" [(ngModel)]="model.username" class="form-control" placeholder="username"> <br>
        <input type="password" name="password" [(ngModel)]="model.password" class="form-control" placeholder="Password">
        <br>
        <button class="w-100 btn btn-lg btn-custom" type="submit">Zaloguj</button>
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
      </form>
    </main>
  </div>
  
  
  